name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '12.x'
    - name: npm install
      run: npm run installAll
    - name: lint
      run: npm run lint
    - name: build
      run: npm run buildAll
    - name: test server
      run: cd server && npm run test
    - name: test client
      run: cd client && npm run test
    - name: Run cypress tests
      uses: cypress-io/github-action@v2
      with:
        start: npm run start:e2e
